fastapi
uvicorn[standard]
tensorflow
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
google-generativeai
python-multipart
jinja2
passlib[bcrypt]
python-jose[cryptography]
motor
redis
librosa
soundfile
scikit-learn
requests
email-validator
aiofiles
httpx
groq
resend
